<%= form_for current_user, url: mypage_update_path, method: :put do |f| %>
<h1>Mypage#edit</h1>
<p>Find me in app/views/mypage/edit.html.erb</p>
<%= f.text_field :username, placeholder: 'nickname' %>
  <p>
    <%= f.submit %>
  </p>
<% end %>